name: deploy
on: push
jobs:
    test:
        runs-on: ubuntu-latest
        steps: 
            - name: get code
              run: |
                echo "to clone the repo"
                echo "${{tojson(github)}}"
                git clone   https://github.com/${{github.repository}}.git

